.key {
  font-weight: bold;
  min-width: 150px;
}

td {
  margin: 0;
  padding: 0;
}

.grid-table {
  border-collapse: collapse;
  border: 1px solid black;
}

.grid-data {
  border: 1px solid black;
}

table tr:nth-child(odd) {
  background: #f4f4f4;
}

table {
  margin: 1rem;
}
